### Importing all the required Liberaries

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from lxml import etree as et

### 1) Write a python program to display all the header tags from wikipedia.org.

In [2]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
print(page.status_code)
soup = BeautifulSoup(page.text, 'html.parser')
print(soup.find_all('h2', class_ = 'mp-h2')[1].get_text())
headers = soup.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *headers, sep='\n\n')
for i in headers:
    print(i.text)

200
Did you know ...
List all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>
Main Page
Welcome to Wikipedia
From today's featured article
Did you know ...
In the news
On this day
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

Personal tools


Namespaces


Views


Navigation


Contribute


Tools


Print/export


In other projects


Languages

### 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [3]:
imbd = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')  # Make a request to a web page with requests module    
print(imbd.status_code) #HTTP response status codes indicate whether a specific HTTP request has been successfully completed here,‎200 Successful responses ‎418 I'm a teapot · ‎400 Bad Request · ‎422 Unprocessable Entity
soup = BeautifulSoup(imbd.text, 'html.parser') # pulling data out of HTML and XML files with BeautifulSoup

200

In [4]:
year = soup.find_all('span', class_ = 'lister-item-year text-muted unbold')
years = [x.text for x in year]
year = pd.DataFrame(years, columns = ['Year'])

rating = soup.find_all('div', class_ = 'ratings-imdb-rating')
rating = [x.text.strip() for x in rating]
rating = pd.DataFrame(rating, columns= ['Rating'])

results = soup.find_all('h3')
title = [x.text.strip() for x in results]
#pd.DataFrame(data['Title'].values.tolist(), index=data.index)
Title = pd.DataFrame(title, columns = ['Title'])

Title = Title['Title'].str.split('\n', expand=True)
Title.rename(columns = {1 : 'Title'}, inplace = True)         #rename column name   
Title = Title.iloc[:50,1:2]                                   #slicing the data with iloc

data =  pd.concat([Title, year, rating], axis=1, join="inner")    #aggregation into 1


#Scraping Page 2

imbd_2 = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt')
#print(imbd_2.status_code)
soup_2 = BeautifulSoup(imbd_2.text, 'html.parser')
year = soup_2.find_all('span', class_ = 'lister-item-year text-muted unbold')
years = [x.text for x in year]
year = pd.DataFrame(years, columns = ['Year'])
rating = soup_2.find_all('div', class_ = 'ratings-imdb-rating')
rating = [x.text.strip() for x in rating]
rating = pd.DataFrame(rating, columns= ['Rating'])
results = soup_2.find_all('h3')
title = [x.text.strip() for x in results]
#pd.DataFrame(data['Title'].values.tolist(), index=data.index)
Title = pd.DataFrame(title, columns = ['Title'])
Title = Title['Title'].str.split('\n', expand=True)
Title.rename(columns = {1 : 'Title'}, inplace = True)    
Title = Title.iloc[:50,1:2]

data_2 =  pd.concat([Title, year, rating], axis=1, join="inner")
Top_100_movies = pd.concat([data, data_2], axis = 0)
Top_100_movies

                                            Title    Year Rating
0                        The Shawshank Redemption  (1994)    9.3
1                                   The Godfather  (1972)    9.2
2                                 The Dark Knight  (2008)    9.0
3   The Lord of the Rings: The Return of the King  (2003)    9.0
4                                Schindler's List  (1993)    9.0
..                                            ...     ...    ...
45                             North by Northwest  (1959)    8.3
46                                        Vertigo  (1958)    8.3
47                            Singin' in the Rain  (1952)    8.3
48                                   Citizen Kane  (1941)    8.3
49              M - Eine Stadt sucht einen Mörder  (1931)    8.3

[100 rows x 3 columns]

#### 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [48]:
imbd_hindi = requests.get('https://www.imdb.com/list/ls056092300/?sort=user_rating,desc&st_dt=&mode=detail&page=1')  # Make a request to a web page with requests module    
print(imbd.status_code) #HTTP response status codes indicate whether a specific HTTP request has been successfully completed here,‎200 Successful responses ‎418 I'm a teapot · ‎400 Bad Request · ‎422 Unprocessable Entity
soup = BeautifulSoup(imbd_hindi.text, 'html.parser')

200

In [68]:
name = pd.DataFrame([x.text for x in soup.find_all('h3')], columns = ['Name'])
name = name['Name'].str.split('\n', expand=True).iloc[:100,2:3]
name.rename(columns = {2: 'Name'}, inplace = True )

rating = pd.DataFrame([x.text.split() for x in soup.find_all('div', class_ = 'ipl-rating-star small' )], columns = ['Rating'])

year = pd.DataFrame([x.text for x in soup.find_all('span', class_ = 'lister-item-year text-muted unbold')], columns = ['Year_of_Release'])

Top_100_Indian = pd.concat([name, rating, year], axis = 1)

In [69]:
Top_100_Indian

                            Name Rating Year_of_Release
0                Sagara Sangamam    8.8          (1983)
1          Goopy Gyne Bagha Byne    8.7          (1969)
2                        Nayakan    8.6          (1987)
3                Pushpaka Vimana    8.6          (1987)
4                    Apur Sansar    8.5          (1959)
..                           ...    ...             ...
95  Jis Desh Men Ganga Behti Hai    7.2          (1960)
96                        Vanaja    7.2          (2006)
97                      Enthiran    7.1          (2010)
98                       Chandni    6.7          (1989)
99                  Neecha Nagar    6.7          (1946)

[100 rows x 3 columns]

#### 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [70]:
president = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
print(president.status_code)
soup= BeautifulSoup(president.text, 'html.parser')

200

In [100]:

Name = pd.DataFrame([i.text.strip() for i in soup.find_all('h3')], columns = ['Name'])

term = pd.DataFrame([x.text.strip() for x in soup.find_all('div', class_ = 'presidentListing')], columns = ['Terms'])
term = term['Terms'].str.split('\n', expand=True).iloc[:,1:2].rename(columns = {1: 'Terms_of_Office'})

Indian_president = pd.concat([Name, term], axis=1, join="inner")
Indian_president

,Name,Terms_of_Office
0,Shri Ram Nath Kovind (birth - 1945),"Term of Office: 25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"Term of Office: 25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"Term of Office: 25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"Term of Office: 25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"Term of Office: 25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"Term of Office: 25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"Term of Office: 25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"Term of Office: 25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"Term of Office: 25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"Term of Office: 24 August, 1974 to 11 February..."
10,Shri Varahagiri Venkata Giri (1894-1980),"Term of Office: 3 May, 1969 to 20 July, 1969 a..."
11,Dr. Zakir Husain (1897-1969),"Term of Office: 13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"Term of Office: 13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"Term of Office: 26 January, 1950 to 13 May, 1962"

### 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
* a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
* b) Top 10 ODI Batsmen along with the records of their team and rating.
* c) Top 10 ODI bowlers along with the records of their team and rating.

In [312]:
odi = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

print(odi.status_code)
soup = BeautifulSoup(odi.text, 'html.parser')

200

#### Top 10 Batsmen

In [313]:
name = pd.DataFrame([x.text for x in soup.find_all('td', class_ = 'table-body__cell name')],columns = ['Player']).iloc[:9]
country = pd.DataFrame([x.text for x in soup.find_all('span', class_ = 'table-body__logo-text')],columns = ['Country']).iloc[:9]
rating = pd.DataFrame([x.text for x in soup.find_all('td', class_ = 'table-body__cell u-text-right rating')],columns = ['Rating']).iloc[:9]


name = name['Player'].str.split('\n',expand=True).iloc[:,1:2].rename(columns = {1: 'Player'})
mens_player = pd.concat([name, country, rating], axis = 1)

name = pd.DataFrame([x.text for x in soup.find_all('div', class_ = 'rankings-block__banner--player-info')],columns = ['Player']).iloc[:1]
nm = name['Player'].str.split('\n', expand = True).rename(columns = {1:'Player', 4:'Country', 5:'Rating'})
nm.drop(columns = [2, 3, 6, 7, 0], inplace = True)

odi_mens = pd.concat([nm, mens_player] , axis = 0)
odi_mens = odi_mens.set_index('Player')

In [314]:
odi_mens

                      Country Rating
Player
Babar Azam                PAK    890
Imam-ul-Haq               PAK    779
Rassie van der Dussen      SA    766
Quinton de Kock            SA    759
David Warner              AUS    747
Steve Smith               AUS    719
Jonny Bairstow            ENG    710
Virat Kohli               IND    707
Rohit Sharma              IND    704
Kane Williamson            NZ    701

#### Top 10 Bowler

In [315]:
name = pd.DataFrame([x.text for x in soup.find_all('td', class_ = 'table-body__cell name')],columns = ['Player']).iloc[9:18, :]
country = pd.DataFrame([x.text for x in soup.find_all('span', class_ = 'table-body__logo-text')],columns = ['Country']).iloc[9:18, :]
rating = pd.DataFrame([x.text for x in soup.find_all('td', class_ = 'table-body__cell u-text-right rating')],columns = ['Rating']).iloc[9:18, :]

name = name['Player'].str.split('\n',expand=True).iloc[:,1:2].rename(columns = {1: 'Player'})

mens_bowler = pd.concat([name, country, rating], axis = 1)

name = pd.DataFrame([x.text for x in soup.find_all('div', class_ = 'rankings-block__banner--player-info')],columns = ['Player']).iloc[1:2,:]
player = name['Player'].str.split('\n', expand = True).rename(columns = {1:'Player', 4:'Country', 5:'Rating'})
player.drop(columns = [2, 3, 6, 7, 0], inplace = True)

odi_mens_bowler = pd.concat([player, mens_bowler] , axis = 0)
odi_mens_bowler = odi_mens_bowler.set_index('Player')
odi_mens_bowler

                  Country Rating
Player
Trent Boult            NZ    760
Josh Hazlewood        AUS    727
Mitchell Starc        AUS    665
Shaheen Afridi        PAK    661
Matt Henry             NZ    656
Adam Zampa            AUS    655
Mehedi Hasan          BAN    655
Mujeeb Ur Rahman      AFG    650
Mustafizur Rahman     BAN    640
Rashid Khan           AFG    635

#### 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
* a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
* b) Top 10 women’s ODI Batting players along with the records of their team and rating.
* c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

#### Top Ten Women Batsmen

In [329]:
odi_2 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

print(odi_2.status_code)
soup_2 = BeautifulSoup(odi_2.text, 'html.parser')

200

In [335]:
name = pd.DataFrame([x.text for x in soup_2.find_all('td', class_ = 'table-body__cell name')],columns = ['Player']).iloc[:9]
country = pd.DataFrame([x.text for x in soup_2.find_all('span', class_ = 'table-body__logo-text')],columns = ['Country']).iloc[:9]
rating = pd.DataFrame([x.text for x in soup_2.find_all('td', class_ = 'table-body__cell u-text-right rating')],columns = ['Rating']).iloc[:9]

name = name['Player'].str.split('\n',expand=True).iloc[:,1:2].rename(columns = {1: 'Player'})
womens_player = pd.concat([name, country, rating], axis = 1)

name = pd.DataFrame([x.text for x in soup_2.find_all('div', class_ = 'rankings-block__banner--player-info')],columns = ['Player']).iloc[:1]
nm = name['Player'].str.split('\n', expand = True).rename(columns = {1:'Player', 4:'Country', 5:'Rating'})
nm.drop(columns = [2, 3, 6, 7, 0], inplace = True)

odi_womens = pd.concat([nm, womens_player] , axis = 0)
odi_womens = odi_womens.set_index('Player')

In [336]:
odi_womens

                    Country Rating
Player
Alyssa Healy            AUS    785
Beth Mooney             AUS    749
Laura Wolvaardt          SA    732
Natalie Sciver          ENG    725
Harmanpreet Kaur        IND    716
Smriti Mandhana         IND    714
Meg Lanning             AUS    710
Rachael Haynes          AUS    701
Amy Satterthwaite        NZ    661
Chamari Athapaththu      SL    655

#### Top Ten Women Bowlers

In [337]:
name = pd.DataFrame([x.text for x in soup_2.find_all('td', class_ = 'table-body__cell name')],columns = ['Player']).iloc[9:18, :]
country = pd.DataFrame([x.text for x in soup_2.find_all('span', class_ = 'table-body__logo-text')],columns = ['Country']).iloc[9:18, :]
rating = pd.DataFrame([x.text for x in soup_2.find_all('td', class_ = 'table-body__cell u-text-right rating')],columns = ['Rating']).iloc[9:18, :]

name = name['Player'].str.split('\n',expand=True).iloc[:,1:2].rename(columns = {1: 'Player'})

womens_bowler = pd.concat([name, country, rating], axis = 1)

name = pd.DataFrame([x.text for x in soup_2.find_all('div', class_ = 'rankings-block__banner--player-info')],columns = ['Player']).iloc[1:2,:]
player = name['Player'].str.split('\n', expand = True).rename(columns = {1:'Player', 4:'Country', 5:'Rating'})
player.drop(columns = [2, 3, 6, 7, 0], inplace = True)

odi_womens_bowler = pd.concat([player, womens_bowler] , axis = 0)
odi_womens_bowler = odi_womens_bowler.set_index('Player')
odi_womens_bowler

                    Country Rating
Player
Sophie Ecclestone       ENG    739
Jess Jonassen           AUS    725
Megan Schutt            AUS    722
Shabnim Ismail           SA    722
Jhulan Goswami          IND    698
Hayley Matthews          WI    671
Kate Cross              ENG    657
Ayabonga Khaka           SA    634
Rajeshwari Gayakwad     IND    617
Marizanne Kapp           SA    598

#### 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
* i) Headline
* ii) Time
* iii) News Link

In [338]:
cnbc = requests.get('https://www.cnbc.com/world/?region=world') # Make a request to a web page with requests module
cnbc.status_code #HTTP response status codes indicate whether a specific HTTP request has been successfully completed here,‎200 Successful responses ‎418 I'm a teapot · ‎400 Bad Request · ‎422 Unprocessable Entity
soup= BeautifulSoup(cnbc.text, 'html.parser') # pulling data out of HTML and XML files with BeautifulSoup

In [339]:
a_tag = soup.find_all('a', class_ = 'LatestNews-headline') 
title = pd.DataFrame([x.text for x in a_tag], columns = ['Title'])

time = soup.find_all('time', class_ = 'LatestNews-timestamp')
Time = pd.DataFrame([x.text for x in time], columns = ['Time'])

links = pd.DataFrame([link.get("href") for link in soup("a", class_ = 'LatestNews-headline')], columns = ['Links'])

data_cnbc = pd.concat([title, Time, links], axis = 1)
data_cnbc

,Title,Time,Links
0,Parking lots are becoming as important as cars...,5 Hours Ago,https://www.cnbc.com/2022/12/03/parking-lots-b...
1,Amazon's cloud unit faces cost-sensitive custo...,7 Hours Ago,https://www.cnbc.com/2022/12/03/aws-faces-cost...
2,Don’t overlook this health warning on your dec...,7 Hours Ago,https://www.cnbc.com/2022/12/03/dont-overlook-...
3,How electric air taxis could shake up the airl...,7 Hours Ago,https://www.cnbc.com/2022/12/03/how-electric-a...
4,I raised 2 successful CEOs and a doctor. Here'...,7 Hours Ago,https://www.cnbc.com/2022/12/03/i-raised-2-suc...
5,Delta pilots would get more than 30% in pay ra...,7 Hours Ago,https://www.cnbc.com/2022/12/03/delta-pilots-w...
6,Men participate less in 401(k) plans than wome...,8 Hours Ago,https://www.cnbc.com/2022/12/03/men-participat...
7,The best U.S. states to raise a family if you ...,8 Hours Ago,https://www.cnbc.com/2022/12/03/best-states-ra...
8,Susan Cain: This Bob Dylan-inspired phrase can...,8 Hours Ago,https://www.cnbc.com/2022/12/03/bestselling-au...
9,The difference between this comeback and the m...,8 Hours Ago,https://www.cnbc.com/2022/12/03/the-difference...
10,Goldman says buy these five stocks for the lon...,8 Hours Ago,https://www.cnbc.com/2022/12/03/goldman-says-b...
11,Celsius users with crypto collateral stuck tur...,9 Hours Ago,https://www.cnbc.com/2022/12/03/celsius-users-...
12,Cramer's lightning round: Let Extreme Networks...,21 Hours Ago,https://www.cnbc.com/2022/12/02/cramers-lightn...
13,Jim Cramer says these 3 apparel stocks benefit...,21 Hours Ago,https://www.cnbc.com/2022/12/02/jim-cramer-say...
14,Cramer’s week ahead: Markets need a strong job...,22 Hours Ago,https://www.cnbc.com/2022/12/02/cramers-week-a...
15,Pro Picks: Watch all of Friday's big stock cal...,23 Hours Ago,https://www.cnbc.com/2022/12/02/pro-picks-watc...
16,"There is 'enormous opportunity' in REITs, says...",23 Hours Ago,https://www.cnbc.com/2022/12/02/reits-offer-en...
17,Biden administration will end monkeypox public...,"December 2, 2022",https://www.cnbc.com/2022/12/02/biden-administ...
18,Expect more choppiness ahead after a week of m...,"December 2, 2022",https://www.cnbc.com/2022/12/02/expect-more-ch...
19,"GM, LG investing $275 million to expand Tennes...","December 2, 2022",https://www.cnbc.com/2022/12/02/gm-lg-investin...
20,"These beat-up tech stocks have potential, ‘Hal...","December 2, 2022",https://www.cnbc.com/2022/12/02/big-tech-stock...
21,The Fed's path to a 'Goldilocks' economy just ...,"December 2, 2022",https://www.cnbc.com/2022/12/02/the-feds-path-...
22,3 things crypto investors need to know in post...,"December 2, 2022",https://www.cnbc.com/2022/12/02/three-things-c...
23,Biden condemns antisemitism as Ye praises Hitl...,"December 2, 2022",https://www.cnbc.com/2022/12/02/biden-condemns...
24,Georgia man arrested for shooting boy campaign...,"December 2, 2022",https://www.cnbc.com/2022/12/02/georgia-electi...
25,What to watch in the markets in the week ahead,"December 2, 2022",https://www.cnbc.com/2022/12/02/markets-lookin...
26,The biggest tax changes to know before filing ...,"December 2, 2022",https://www.cnbc.com/2022/12/02/the-biggest-ta...
27,'This is a crisis.' Why more workers need acce...,"December 2, 2022",https://www.cnbc.com/2022/12/02/why-more-worke...
28,Carnival’s Princess Cruises will return to Jap...,"December 2, 2022",https://www.cnbc.com/2022/12/02/carnivals-prin...
29,Tech layoffs may not be a bad omen for U.S. ec...,"December 2, 2022",https://www.cnbc.com/2022/12/02/tech-layoffs-m...

#### 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

In [342]:
AI = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles') # Make a request to a web page with requests module
# HTML parser is a structured markup processing tool
print(AI.status_code)  #HTTP response status codes indicate whether a specific HTTP request has been successfully completed here,‎200 Successful responses ‎418 I'm a teapot · ‎400 Bad Request · ‎422 Unprocessable Entity
soup = BeautifulSoup(AI.text, 'html.parser')  # pulling data out of HTML and XML files with BeautifulSoup

200

In [343]:
title = soup.find_all('h2', class_ = 'sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg') # find all h2 tags with specific class mentioned
title = pd.DataFrame([x.text for x in title], columns = ['Paper_Title']) # x.text is for print the response text and convert it into the Dataframe with od.DataFrame

author = soup.find_all('span', class_ = 'sc-1w3fpd7-0 dnCnAO')   #find all span tags with specific class mentioned
author = pd.DataFrame([x.text for x in author], columns = ['Authors']) # x.text is for print the response text and convert it into the Dataframe with od.DataFrame

date = soup.find_all('span', class_ = 'sc-1thf9ly-2 dvggWt') # find all span tags with specific class mentioned
date=pd.DataFrame([x.text for x in date], columns = ['Published_Date'])  # x.text is for print the response text and convert it into the Dataframe with od.DataFrame

links = pd.DataFrame([link.get('href') for link in soup('a', class_ = 'sc-5smygv-0 fIXTHm')], columns = ['Paper_url']) # get perticular class links and convert into dataframe
AI_data = pd.concat([title, author, date, links], axis = 1)   # concat(aggregate) all the columns in one data with concat function
AI_data

,Paper_Title,Authors,Published_Date,Paper_url
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

#### 9) Write a python program to scrape mentioned details from dineout.co.in :
* i) Restaurant name
* ii) Cuisine
* iii) Location
* iv) Ratings
* v) Image URL

In [344]:
dine = requests.get('https://www.dineout.co.in/mumbai-restaurants/10instant-discount') # Make a request to a web page with requests module
# pulling data out of HTML and XML files with BeautifulSoup
soup = BeautifulSoup(dine.text, 'html.parser')  #HTTP response status codes indicate whether a specific HTTP request has been successfully completed here,‎200 Successful responses ‎418 I'm a teapot · ‎400 Bad Request · ‎422 Unprocessable Entity

In [345]:
name = pd.DataFrame([x.text for x in soup.find_all('a', class_ = 'restnt-name ellipsis')], columns = ['Restaurant_Name']) 
cuisine=pd.DataFrame([x.text for x in soup.find_all('span', class_ = 'double-line-ellipsis')], columns = ['Cuisine'])
location = pd.DataFrame([x.text for x in soup.find_all('div', class_ = 'restnt-loc ellipsis')], columns = ['Address'])
rating = pd.DataFrame([x.text for x in soup.find_all('div', class_ = 'restnt-rating rating-4')], columns = ['Ratings'])
link = pd.DataFrame([x.get('data-src') for x in soup.find_all('img', class_ = 'no-img')], columns = ['Image_Url'])

data = pd.concat([name, location, rating, link, cuisine], axis = 1)
Cuisine = data['Cuisine'].str.split('|', expand=True)
Cuisine.rename(columns = {1:'Cuisine'}, inplace = True)
data = data.iloc[:,:4]
data = pd.concat([data, Cuisine], axis = 1).rename(columns = {0:'Price'})
data.drop('Price', axis = 1, inplace = True)
data

,Restaurant_Name,Address,Ratings,Image_Url,Cuisine
0,Eve,"Sentinel Building,Powai, Powai",4.1,https://im1.dineout.co.in/images/uploads/resta...,"Asian, Continental, Italian, American, Sushi,..."
1,Sigree Global Grill,"Ventura Building,Powai, Powai",4.3,https://im1.dineout.co.in/images/uploads/resta...,"North Indian, Biryani"
2,Independence Brewing Company,"Hiranandani, Powai",4.3,https://im1.dineout.co.in/images/uploads/resta...,"Continental, Finger Food"
3,Pop Tate's,"Mayfair Sonata Green CHS,Vikhroli West, Centra...",4.4,https://im1.dineout.co.in/images/uploads/resta...,"Continental, Chinese, Fast Food"
4,Pop Tate's,"R City Mall,Ghatkopar West, Central Suburbs",4.3,https://im1.dineout.co.in/images/uploads/resta...,"Continental, Chinese, Fast Food"
5,Urban Tadka,"R City Mall,Ghatkopar West, Central Suburbs",4.3,https://im1.dineout.co.in/images/uploads/resta...,"North Indian, Mughlai"
6,Cream Centre- Ghatkopar West,"R City Mall,Ghatkopar West, Central Suburbs",4.2,https://im1.dineout.co.in/images/uploads/resta...,"North Indian, Fast Food, Italian, Mexican, Be..."
7,Khandani Rajdhani,"R City Mall,Ghatkopar West, Central Suburbs",4.4,https://im1.dineout.co.in/images/uploads/resta...,"Gujarati, Rajasthani, North Indian"
8,Kake Da Hotel,"Powai, Powai",4.3,https://im1.dineout.co.in/images/uploads/resta...,"Chinese, North Indian, Biryani"
9,Timbuctoo,"Mayfair Sonata Green CHS,Vikhroli West, Centra...",4.3,https://im1.dineout.co.in/images/uploads/resta...,"Finger Food, Chinese, Italian, North Indian"
10,Origami Japanese And Korean Restaurant,"Supreme Business Park,Powai, Powai",3.9,https://im1.dineout.co.in/images/uploads/resta...,"Japanese, Korean"
11,Sbarro - New York Pizza,"Kailash Business Park,Vikhroli West, Central S...",4.2,https://im1.dineout.co.in/images/uploads/resta...,"Pizza, Fast Food"
12,Malgudi,"R City Mall,Ghatkopar West, Central Suburbs",4.1,https://im1.dineout.co.in/images/uploads/resta...,South Indian
13,The Game Ranch,"Delphi Building,Powai, Powai",4,https://im1.dineout.co.in/images/uploads/resta...,"Continental, Mexican"
14,Coco Cafe,"Ghatkopar West, Central Suburbs",NaN,https://im1.dineout.co.in/images/uploads/resta...,"Continental, Desserts, Beverages"
15,Mad Over Donuts,"City Park Building,Powai, Powai",NaN,https://im1.dineout.co.in/images/uploads/resta...,"Desserts, Beverages"
16,Street Foods By Punjab Grill,"R City Mall,Ghatkopar West, Central Suburbs",NaN,https://im1.dineout.co.in/images/uploads/resta...,"Mughlai, North Indian, Street Food"
17,Cogs and Brews Cafe,"Powai, Powai",NaN,https://im1.dineout.co.in/images/uploads/resta...,"Fast Food, Desserts"
18,Mad Over Donuts,"R City Mall,Ghatkopar West, Central Suburbs",NaN,https://im1.dineout.co.in/images/uploads/resta...,"Desserts, Beverages"
19,Sbarro - New York Pizza,"R City Mall,Ghatkopar West, Central Suburbs",NaN,https://im1.dineout.co.in/images/uploads/resta...,"Pizza, Fast Food"
20,Mini Punjab's Lake Side,"Powai, Powai",NaN,https://im1.dineout.co.in/images/uploads/resta...,"Mughlai, North Indian, Chinese, Seafood"

#### 10) Write a python program to scrape the details of top publications from Google Scholar from https://scholar.google.com/citations?view_op=top_venues&hl=en
* i) Rank
* ii) Publication
* iii) h5-index
* iv) h5-median

In [346]:
dine = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en') # Make a request to a web page with requests module
dine.status_code #HTTP response status codes indicate whether a specific HTTP request has been successfully completed here,‎200 Successful responses ‎418 I'm a teapot · ‎400 Bad Request · ‎422 Unprocessable Entity

200

In [347]:
soup = BeautifulSoup(dine.text, 'html.parser') 

name = soup.find_all('td', class_ = 'gsc_mvt_t')
name = pd.DataFrame([x.text for x in name], columns = ['Name'])

index = soup.find_all('a', class_='gs_ibl gsc_mp_anchor')

h5_index = pd.DataFrame([x.text for x in index], columns = ['h5_index'])
h5 = soup.find_all('span', class_ = 'gs_ibl gsc_mp_anchor')
h5 = pd.DataFrame([x.text for x in h5], columns = ['h5_median'])

rank = soup.find_all('td', class_ = 'gsc_mvt_p')
rank = pd.DataFrame([x.text for x in rank], columns = ['rank'])

google_scholar = pd.concat([rank, name, h5, h5_index ], axis = 1)

google_scholar = google_scholar.set_index('rank')
google_scholar

                                                   Name h5_median h5_index
rank
1.                                               Nature       667      444
2.                  The New England Journal of Medicine       780      432
3.                                              Science       614      401
4.    IEEE/CVF Conference on Computer Vision and Pat...       627      389
5.                                           The Lancet       635      354
...                                                 ...       ...      ...
96.                        Journal of Business Research       233      145
97.                                    Molecular Cancer       209      145
98.                                             Sensors       201      145
99.                               Nature Climate Change       228      144
100.                    IEEE Internet of Things Journal       212      144

[100 rows x 3 columns]